<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kitty_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,335}</string>
                <key>spriteSourceSize</key>
                <string>{455,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{455,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kitty_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,324}</string>
                <key>spriteSourceSize</key>
                <string>{384,324}</string>
                <key>textureRect</key>
                <string>{{458,1},{384,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kitty.png</string>
            <key>size</key>
            <string>{843,337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5096a41d41cc6fa9553ca63f5ab23a4e:2c921ea98bbd3fb6262b289bc1dd7243:24a3b9f832b319a7eb77e620300699d6$</string>
            <key>textureFileName</key>
            <string>kitty.png</string>
        </dict>
    </dict>
</plist>
