<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>man1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,170}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{302,170}}</string>
                <key>sourceSize</key>
                <string>{302,280}</string>
            </dict>
            <key>man2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{234,170}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,94},{234,170}}</string>
                <key>sourceSize</key>
                <string>{302,280}</string>
            </dict>
            <key>man3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,170},{226,166}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{226,166}}</string>
                <key>sourceSize</key>
                <string>{302,280}</string>
            </dict>
            <key>man4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{152,152}}</string>
                <key>offset</key>
                <string>{-21,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,128},{152,152}}</string>
                <key>sourceSize</key>
                <string>{302,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>man.png</string>
        </dict>
    </dict>
</plist>
